<footer id="page-footer">
  <ul id="footer-list" class="horizontal-list">
    <li>
      <a href="/users/profile"> profile </a>
    </li>
    <li>
      <a href="/"> home </a>
    </li>
  </ul>
</footer>
