<header id="page-header">
  <div id="app-title-container">
    <h1 id="app-title">codeial</h1>
    <!-- <div class="border"></div> -->
  </div>
  <ul id="header-list" class="horizontal-list">
    <% if(locals.user){ %>
    <li>
      <a href="/users/profile"> <%= user.name %> </a>
    </li>
    <li>
      <a href="/users/sign-out">Sign-out</a>
    </li>
    <% }else{ %>
    <li>
      <a href="/users/sign-in">Sign-in</a>
    </li>
    <li>
      <a href="/users/sign-up">Sign-up</a>
    </li>

    <% } %>
  </ul>
</header>
