<!-- <form action="/reset_password/find_user" method="get" id="emailGetterForm">
  <input type="email" name="email" placeholder="email" />
  <input type="submit" value="Submit" />
</form>

<br /><br />
<form action="/reset_password/?acessToken" method="post" id="resetPwdForm">
  <input type="password" name="password" placeholder="New Password" />
  <input
    type="password"
    name="confirmPassword"
    placeholder="Confirm Password"
  />
  <input type="submit" value="Submit" />
</form> -->
